@model Hipotina.ERP.WebMVC.Areas.RRHH.Models.Empleado

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Emp_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_ape_paterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_ape_paterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_ape_materno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_ape_materno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_fech_Ingreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_fech_Ingreso)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Emp_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
