@model IEnumerable<Hipotina.ERP.WebMVC.Areas.RRHH.Models.Empleado>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <!-- @Html.ActionLink("Create New", "Create") -->
    @Html.RouteLink("Crear nuevo Empleado", new { Action = "Create", controller = "Empleados", area = "RRHH" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Emp_nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emp_ape_paterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emp_ape_materno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emp_fech_Ingreso)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Emp_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emp_ape_paterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emp_ape_materno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emp_fech_Ingreso)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Emp_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Emp_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Emp_ID })
        </td>
    </tr>
}

</table>
